
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #555;
  }

.flex_container {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  width:800px; 
  margin:0 auto;
  padding-top: 50px;

  
}

@media (max-width: 800px) {
    .flex_container {
      flex-direction: column;
    }
  }

.hidden{
  opacity: 0;
}

.weatherDIVS{
  border: #ffffff solid 2px;
  padding: 0px 10px 0px 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-color: #000;
  text-align: center;
  border-radius: 7opx;
}

.weatherTypediv {
  order: 1;
}

.precipTypediv {
  order: 2;
  color: aliceblue;
}

.tempDiv {
  order: 3;
  color: aliceblue;
}


h1 {
    font-size: 36px;
    color: #cac8c8;
    margin: 40px 0 20px 0;
  }
  
button {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: none;
    padding: 0 56px;
    height: 45px;
    border-radius: 7px;
    background-color: #0000009b;
    color: #cac8c8;
    font-weight: 400;
    font-size: 16px;
    box-shadow: 0 4px 14px 0 #000;
    transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
    
    
  }

#locBtn {
  position: relative;
  top: 13px;
}

form input {
  background-color: #333;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  caret-color: #cac8c8;
  border: none;
  padding: 0 10px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  color: #cac8c8;
  font-size: medium;
  

}

button:hover{
        background: #cac8c8;
        box-shadow: 0 6px 20px #000;
        color: black;
    }
p {
    font-size: 16px;
    color: #cac8c8;
    text-align: center;
  }

a:link {
  color:#cac8c8
}

a:visited{
  color: #cac8c8;
}